.section-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.section-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.section-content {
  position: relative;
  z-index: 2;
  padding-bottom: 4rem;
}


.bg-characters {
  background-image: url('./assets/img/logoCharacters.jpg');
}

.bg-planets {
  background-image: url('./assets/img/logoPlanets.jpg');
}

.bg-starships {
  background-image: url('./assets/img/logoStarships.jpg');
}

.universal-title,
.card-title,
.btn-details {
  font-family: 'Orbitron', sans-serif;
}

.universal-title {
  text-align: center;
  color: #ffc107;
  margin-bottom: 2rem;
}

.card-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-shadow {
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}


.swal2-popup {
  font-family: 'Orbitron', sans-serif !important;
}