.characters-wrapper {
  background-image: url('./assets/img/logoCharacters.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.characters-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.characters-content {
  position: relative;
  z-index: 2;
  padding-bottom: 4rem;
}

.characters-title, 
.card-title, 
.btn-details {
  font-family: 'Orbitron', sans-serif;
}

.card-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

.card-shadow {
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}


.swal2-popup {
  font-family: 'Orbitron', sans-serif !important;
}